In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
from word2number import w2n

In [2]:
dataset = pd.read_csv("E:\Case-Study-of-DataScience\Multivariate Linear Regression\hiring_2.csv")
print(dataset)

  experience  test_score  interview_score  salary($)
0        NaN         8.0                9      50000
1        NaN         8.0                6      45000
2       five         6.0                7      60000
3        two        10.0               10      65000
4      seven         9.0                6      70000
5      three         7.0               10      62000
6        ten         NaN                7      72000
7     eleven         7.0                8      80000

In [3]:
testscore = dataset.test_score.mean()
testscore = int(testscore)
print(testscore)

7

In [5]:
dataset.iloc[:,1] = dataset.iloc[:,1].replace(np.NaN ,testscore)
print(dataset)

  experience  test_score  interview_score  salary($)
0        NaN         8.0                9      50000
1        NaN         8.0                6      45000
2       five         6.0                7      60000
3        two        10.0               10      65000
4      seven         9.0                6      70000
5      three         7.0               10      62000
6        ten         7.0                7      72000
7     eleven         7.0                8      80000

In [6]:
dataset.test_score = dataset.test_score.fillna(testscore)
print(dataset)

  experience  test_score  interview_score  salary($)
0        NaN         8.0                9      50000
1        NaN         8.0                6      45000
2       five         6.0                7      60000
3        two        10.0               10      65000
4      seven         9.0                6      70000
5      three         7.0               10      62000
6        ten         7.0                7      72000
7     eleven         7.0                8      80000

In [7]:
dataset.experience = dataset.experience.fillna("zero")
print(dataset)

  experience  test_score  interview_score  salary($)
0       zero         8.0                9      50000
1       zero         8.0                6      45000
2       five         6.0                7      60000
3        two        10.0               10      65000
4      seven         9.0                6      70000
5      three         7.0               10      62000
6        ten         7.0                7      72000
7     eleven         7.0                8      80000

In [8]:
dataset.experience  = dataset.experience.apply(w2n.word_to_num)
print(dataset)

   experience  test_score  interview_score  salary($)
0           0         8.0                9      50000
1           0         8.0                6      45000
2           5         6.0                7      60000
3           2        10.0               10      65000
4           7         9.0                6      70000
5           3         7.0               10      62000
6          10         7.0                7      72000
7          11         7.0                8      80000

In [46]:
LR?

In [15]:
X = dataset.iloc[:,0:3]
y = dataset.iloc[: , 3]
print(X)
print(y)

   experience  test_score  interview_score
0           0         8.0                9
1           0         8.0                6
2           5         6.0                7
3           2        10.0               10
4           7         9.0                6
5           3         7.0               10
6          10         7.0                7
7          11         7.0                8
0    50000
1    45000
2    60000
3    65000
4    70000
5    62000
6    72000
7    80000
Name: salary($), dtype: int64

In [16]:
LR = linear_model.LinearRegression()
LR.fit(X, y)

LinearRegression()

In [19]:
LR.coef_

array([2922.26901502, 2221.30909959, 2147.48256637])

In [20]:
LR.intercept_

14992.65144669314

In [23]:
LR.predict([[2, 9.0 , 6]])

C:\Users\Subhajit ghosh\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([53713.86677124])